py-solc
web3>=5.0.0b2
eth-tester[py-evm]
eth-utils
eth-keyfile
click

# --- development dependencies, i.e. dependencies not needed for running
flake8
mypy
pytest
setuptools_scm
pip>=18.1
black
pre-commit
